.container{
    width: 1440px;
    padding: 0 15px;
    outline: 2px dashed red;
    margin: 0 auto;
  }
  .header{
    background-image: url('../image/fon.svg') ;
   
    width: 1440px;
    height: 150px;
}
  .hero{
    width:1440px ;
    height: 740px;
    background-image: url('../image/fon-1.svg');
  }